.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: transparent;
}

:focus {
    outline: none;
}

/* ************************************************************ */
/*  override for inspinia navbar classes                        */
/* ************************************************************ */

.navbar-fixed-top {
    background: #2f4050;
    border-bottom: none !important;
}

.nav.navbar-right > li > a {
  color: white;
}

/* ************************************************************ */
/*  ui-grid                                                     */
/* ************************************************************ */

.ui-grid-pager-panel {
    background-color: #eaeaea;
}

.ui-grid-filter-container {
    padding: 4px !important;
}

.ui-grid-filter-input {
    padding-left: 4px !important; padding-right: 24px !important; height: 22px;
    font-size: 11px;
}

.ui-grid-filter-select {
    height: 22px;
    font-size: 11px;
}

.ui-grid-filter-datepicker {
    height: 22px; 
    border: 1px solid #d4d4d4; 
    font-size: 11px; 
    padding: 6px 6px;
    z-index: 1 !important;
}

.ui-grid-filter-datepicker-span {
    padding: 3px; 
    border: 1px solid #d4d4d4; 
    border-left: none;
}

.ui-grid-filter-datepicker-i {
    opacity: 0.66;
}

.ui-grid-filter-datepicker-i:hover {
    opacity: 1.00;
}
    
:focus {
    outline: none !important;
}

.ui-grid-filter-input-port {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  border: 1px solid #d4d4d4;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.ui-grid-filter-input-port:hover {
    border: 1px solid #d4d4d4;
}

/* ************************************************************ */
/*  ui-grid message overlay                                     */
/* ************************************************************ */

.grid-msg-overlay {
    position: absolute;
    top: 59px;
    bottom: 0;
    width: 100%;
    background: rgba(235, 235, 235, 0.2);
}

.grid-msg-overlay .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 20px;
    display: table;
}

.grid-msg-overlay .msg span {
    display: table-cell;
    vertical-align: middle;
}

/* ************************************************************ */
/*  daterangepicker icons                                       */
/* ************************************************************ */
.glyphicon.fa {
    font-family: 'Glyphicons Halflings';
}